// nextflow.config

process.executor = 'slurm'

//cleanup after successful run
cleanup = false

singularity {
    enabled = true
    autoPullMode = true
    autoMounts = true
    cacheDir = "/data/$USER/nxf_singularity_cache"
    envWhitelist = 'https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SINGULARITY_BINDPATH,MPLCONFIGDIR'
    pullTimeout = '30 min'
}

//Fail on any error in bash script
process.shell = ['/bin/bash', '-euo', 'pipefail']

profiles {
    slurm {
        executor {
            name = 'slurm'
            queue = 'norm'
            pollInterval = '2 min'
            queueStatInterval = '5 min'
            submitRateLimit = '6/1min'
            retry.maxAttempts = 1
                }
            }
}
